<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Projcts List</title>
 </head>
 <body>
   {% if projects %}
   <table>
    <thead>
     <th>Name</th>
     <th>Start Date</th>
     <th>End Date</th>
     <th>Assigned To</th>
     <th>Priority</th>
    </thead>
    {% for project in projects %}
    <tr>
     <td>{{project.name}}</td>
     <td>{{project.startdate}}</td>
     <td>{{project.enddate}}</td>
     <td>{{project.assignedto}}</td>
     <td>{{project.priority}}</td>
    </tr>
    {% endfor %}

  </table>
  {% else %}
  <p>no projects found</p>
  {%endif%}
 </body>
</html>
